.card {
    width: 100px;
    height: 136px;
    background-color: darkblue;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transform: scale(1);
    transition: all .3s ease-in;
}

.card:hover {
    cursor: move;
    box-shadow: 0px 0px 10px yellow;
    transition: all .3s ease-in;
}

.card.moved {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
    transform: scale(1.15);
    transition: all .3s ease-in;
}
